## Maven
/target
/*/target

## IntelliJ
.idea/
*.iml


## Log files
logs/
*.log

## Tomcat working directory
work/

.DS_Store
/*/tmp

## Temp files / directories created by running Docker containers
hsperfdata_root/
tomcat-docbase.*/

